@keyframes slideIn {
	from { transform: translateY(100%) scale(0.5); }
	to { transform: translateY(0%) scale(1); }
}
.container {
	transform-origin: center;
	animation: slideIn 600ms ease-in-out;
	padding: 8px;
	position: absolute;
	top: var(--nav-height);
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--nav-height));
	background: var(--background);
	display: flex;
	flex-direction: column;
	z-index: 4;
}
.list {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background: var(--accent-4);
	list-style: none;
}
.item {
	display: flex;
	align-items: center;
	padding: var(--padding) var(--padding);
	background: var(--background);
}
.item:hover {
	transform: none;
	cursor: pointer;
}
.item span {
	flex-grow: 1;
}
.socials {
	display: flex;
	justify-content: center;
	padding: var(--padding);
	gap: var(--padding);
	align-items: flex-end;
	width: 100%;
}