.container {
  display: flex;
  flex-direction: column;
  width: 340px;
  position: relative;
  gap: var(--padding);
  background: var(--background);
  padding: var(--padding);
  height: 180px;
  border-radius: var(--padding);
  box-shadow: 0 0 var(--padding) var(--spotify);
  transform: scale(0.75);
}

@media (min-width: 768px) {
  .container {
    width: 480px;
    transform: scale(1);
  }
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

.spinner {
  animation: loadingSpinner 1.25s infinite linear;
}

.container span {
  text-align: left;
}

.middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: var(--padding-s);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  flex-grow: 1;
  gap: var(--padding-xs);
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: var(--padding);
}

.progressOuter {
  flex-grow: 1;
  background: var(--background);
  height: 8px;
  border-radius: 3px;
  overflow: hidden;
  /* border: solid 2px var(--spotify); */
  box-shadow: 0 0 4px var(--spotify);
}

.progressInner {
  background: var(--spotify);
  height: 100%;
}

.name {
  font-weight: bold;
  font-size: 1.6em;
}

.artist {
  font-weight: lighter;
  font-size: 1.25em;
}

.logo {
  z-index: 3;
  position: absolute;
  top: -24px;
  right: -24px;
  fill: #1db954;
  background: var(--background);
  border-radius: 50%;
  padding: 8px;
  transform: rotate(8deg);
  box-shadow: 0 0 8px #1db954;
}

.coverContainer {
  width: 100px;
  min-width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.icon {
  z-index: 1;
}
