.container {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	margin-top: var(--padding);
	font-size: var(--font-size);
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 120px;
}
.text {
	font-size: 1.25em;
	text-align: left;
}
.date {
	font-size: 1.125em;
	font-weight: lighter;
}
.positions {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
}
.position {
	margin-left: var(--padding);
	line-height: 1.25;
}