.container {
  display: flex;
  align-items: center;
  gap: var(--padding-s);
  --spotify-icon: var(--primary);
}

.container {
  font-weight: bold;
  text-transform: lowercase;
  color: var(--spotify-icon);
  transition: 125ms ease-in-out;
}

.link {
  font: unset;
  color: unset;
}

.link:hover .container {
  --spotify-icon: var(--spotify);
}
