.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
}

.item {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  color: var(--foreground);
}

.item h2 {
  color: var(--primary);
  transition: 125ms ease-in-out;
}

.item:hover h2 {
  color: var(--secondary);
  cursor: pointer;
  text-decoration: underline;
}

.title {
  margin-bottom: var(--padding-l);
}
