.container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.container > * {
  display: flex;
  flex-direction: column;
  gap: var(--sp2);
}

.container section {
  display: flex;
  flex-direction: column;
  gap: var(--sp2);
}

.form > * {
  display: block;
}

.input,
.button {
  background: var(--accent-8);
  border: solid 1px var(--accent-7);
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
}

.input {
  font-family: var(--font-mono);
}

.button {
  font-family: var(--font);
  font-weight: 500;
  transition: 125ms ease-in-out;
}

.button:hover {
  background: var(--fg);
  color: var(--bg);
  cursor: pointer;
}

.error {
  color: firebrick;
}

.latestLinks {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
  list-style: none;
  align-items: flex-start;
}

.link {
  display: flex;
  align-items: center;
  gap: var(--sp2);
  border: solid 1px var(--fg);
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  color: inherit;
  font-family: var(--font-mono);
  transition: 125ms ease-in-out;
}

.link:hover {
  background: var(--fg);
  color: var(--bg);
}

.foot {
  color: var(--accent-5);
  font-style: italic;
  font-size: 0.8rem;
}
