/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .about {
    background: rgba(0, 0, 0, 0.5);
  }

  .contact {
    color: white;
  }

  .contacts {
    background: black;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .about {
    background: rgba(255, 255, 255, 0.75);
  }

  .contact {
    color: black;
  }

  .contacts {
    background: white;
  }
}
.header-url, .PDFFooter {
  display: none;
}

body {
  font-family: "Roboto Slab", serif;
  padding: 40px;
}

span, p, img {
  display: block;
}

.reference,
.business,
.college,
.project {
  margin-top: 20px;
}

.publications .publications-table .publication {
  margin-top: 20px;
  display: flex;
}
.publications .publications-table .publication span {
  margin-bottom: 8px;
}
.publications .publications-table .publication .link {
  margin-right: 8px;
  color: dodgerblue;
}
.publications .publications-table .publication .detail .title {
  font-weight: bold;
  font-size: 1.25em;
}
.publications .publications-table .publication .detail .publication {
  font-style: italic;
  font-size: 1.125em;
}
header {
  display: flex;
  flex-direction: column-reverse;
}
header .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header .contact {
  display: flex;
  text-decoration: none;
  color: dodgerblue;
  align-items: center;
  margin: 20px 10px 20px 0;
}
header .contact span {
  font-size: 0.75em;
}
header .contact ion-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
header h1 {
  text-align: center;
}
header .profile {
  margin-top: 20px;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 20px;
  max-height: 400px;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  text-transform: uppercase;
  background: dodgerblue;
  color: white;
  padding: 4px 8px;
  font-size: 1em;
  border-radius: 4px;
}

section {
  margin: 20px 0;
}

.experiences {
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  align-items: flex-start;
}

.business a {
  display: flex;
  color: dodgerblue;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.business a .link {
  display: block;
  width: 20px;
  height: 20px;
}
.business .header {
  display: flex;
  align-items: flex-start;
}
.business .header .info {
  display: flex;
  flex-direction: column;
}
.business .header .info .name, .business .header .info .subname, .business .header .info .location {
  margin-top: 4px;
}
.business .header .info .name {
  font-weight: bold;
  font-size: 1.5em;
}
.business .header .info .subname {
  font-weight: lighter;
  font-size: 1.125em;
}
.business .header .info .location {
  font-style: italic;
  font-size: 1.125em;
}
.business .position {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}
.business .position .title, .business .position .date, .business .position .description {
  margin-top: 4px;
}
.business .position .title {
  font-size: 1.125em;
  font-weight: bold;
}
.business .position .date {
  color: gray;
}

.educations {
  display: flex;
  flex-direction: column;
}

.college {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.college .logo {
  max-width: 60px;
  display: block;
  object-fit: contain;
  margin-right: 20px;
}
.college .info .name {
  font-weight: bold;
  font-size: 1.25em;
}
.college .info .degree {
  margin-top: 10px;
}
.college .info .degree .title {
  font-size: 1.125em;
}
.college .info .degree .date {
  color: gray;
}

.skills ul {
  margin-top: 10px;
  margin-left: 40px;
}
.skills li {
  margin-top: 4px;
}

.projects .project .header {
  display: flex;
}
.projects .project .header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.projects .project .header a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dodgerblue;
  margin-right: 8px;
}
.projects .project .header a .link {
  width: 20px;
  height: 20px;
}
.projects .project .header .name {
  font-weight: bold;
}
.projects .project .description {
  margin-top: 8px;
}

.references .reference {
  display: flex;
  align-items: flex-start;
}
.references .reference .link {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: dodgerblue;
}
.references .reference .name {
  font-weight: bold;
}
.references .reference .title {
  font-style: italic;
}

@media (min-width: 800px) {
  section {
    margin: 80px 0;
    font-size: 1.125em;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 24px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0 0 5px black;
  }

  h1 {
    font-size: 72px;
  }

  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App {
    max-width: 1080px;
  }

  .experienceLabel {
    margin-top: 0;
  }

  a {
    transition: transform 250ms ease-in-out;
  }

  a:hover {
    transform: scale(1.25);
  }

  main {
    margin-top: 80vh;
  }

  header {
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("./header.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
  }
  header .about {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .profile {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    margin: 40px 0;
    box-shadow: 0 0 10px gray;
  }
  header .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
  }
  header .contacts .contact {
    display: block;
  }
  header .contacts .contact:hover {
    transform: scale(1.5);
  }
  header .profile:hover {
    transform: scale(1.25) rotate(-7.5deg);
  }
  header .contact span {
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  body {
    max-width: 1000px;
  }
}

/*# sourceMappingURL=index.css.map */
