/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//border: solid red 1px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	.about {
		background: rgba(0,0,0,0.5);
	}
	.contact {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
	.about {
		background: rgba(255,255,255,0.75);
	}

	.contact {
		color: black;
	}
}


$blue: dodgerblue;

.header-url, .PDFFooter {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 40px;
}

span, p, img {
	display: block;
}

.reference,
.business,
.college,
.project {
	margin-top: 20px;
}

.publications {
	.publications-table {
		.publication {
			margin-top: 20px;
			display: flex;
			span {
				margin-bottom: 8px;
			}
			.link {
				margin-right: 8px;
				color: $blue;
			}
			.detail {

				.title {
					font-weight: bold;
					font-size: 1.25em;
				}

				.date {}

				.publication {
					font-style: italic;
					font-size: 1.125em;
				}
				.authors {}
			}
		}
	}
}

header {

	display: flex;
	flex-direction: column-reverse;

	h1 {

	}

	.contacts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {

		display: flex;
		text-decoration: none;
		color: $blue;
		align-items: center;
		margin: 20px 10px 20px 0;

		span {
			font-size: 0.75em;
		}

		ion-icon {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}

	}

	h1 {
		text-align: center;
	}

	.profile {
		margin-top: 20px;
		width: 100%;
		border-radius: 40px;
		margin-bottom: 20px;
		max-height: 400px;
		object-fit: cover;
		transition: transform 250ms ease-in-out;
	}

}

main {
	display: flex;
	flex-direction: column;
}

h2 {
	text-transform: uppercase;
	background: $blue;
	color: white;
	padding: 4px 8px;
	font-size: 1em;
	//margin: 40px 0;
	border-radius: 4px;
}

section {
	margin: 20px 0;
}

.experiences {
	display: flex;
	flex-direction: column;
}

.link-container {
	display: flex;
	align-items: flex-start;
}

.business {

	a {

		display: flex;
		color: $blue;
		align-items: center;
		justify-content: center;
		margin-right: 10px;

		.link {
			display: block;
			width: 20px;
			height: 20px;
		}

	}

	.header {

		display: flex;
		align-items: flex-start;

		.info {

			display: flex;
			flex-direction: column;

			.name, .subname, .location {
				margin-top: 4px;
			}

			.name {
				font-weight: bold;
				font-size: 1.5em;
			}

			.subname {
				font-weight: lighter;
				font-size: 1.125em;
			}

			.location {
				font-style: italic;
				font-size: 1.125em;
			}

		}

	}

	.position {

		display: flex;
		flex-direction: column;
		margin-top: 20px;
		margin-left: 50px;

		.title, .date, .description {
			margin-top: 4px;
		}

		.title {
			font-size: 1.125em;
			font-weight: bold;
		}

		.date {
			color: gray;
		}

	}

}

.educations {
	display: flex;
	flex-direction: column;
}

.college {

	display: flex;
	width: 100%;
	align-items: flex-start;

	.logo {
		max-width: 60px;
		display: block;
		object-fit: contain;
		margin-right: 20px;
	}

	.info {

		.name {
			font-weight: bold;
			font-size: 1.25em;
		}

		.degree {

			margin-top: 10px;

			.title {
				font-size: 1.125em;
			}

			.date {
				color: gray;
			}

		}

	}

}

.skills {

	ul {
		margin-top: 10px;
		margin-left: 40px;
	}

	li {
		margin-top: 4px;
	}

}

.projects {

	.project {

		.header {

			display: flex;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $blue;

				.link {
					width: 20px;
					height: 20px;
				}

				margin-right: 8px;

			}

			.name {
				font-weight: bold;
			}

		}

		.description {
			margin-top: 8px;
			margin-left: 30px;
		}

	}

}

.references {

	.reference {

		display: flex;
		align-items: flex-start;

		.link {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			color: $blue;
		}

		.name {
			font-weight: bold;
		}

		.title {
			font-style: italic;
		}
	}

}
@media (min-width: 800px) {

	section {

		margin: 80px 0;
		font-size: 1.25em;

	}

	h2 {
		margin-bottom: 40px;
		font-size: 24px;
		padding: 10px 20px;
		font-weight: bold;
		box-shadow: 0 0 5px black;
	}

	h1 {
		font-size: 72px;
	}

	html {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.App {
		max-width: 1080px;
	}

	.experienceLabel {
		margin-top: 0;
	}

	a {
		transition: transform 250ms ease-in-out;
	}

	a:hover {
		transform: scale(1.25);
	}

	main {
		margin-top: 80vh;
	}

	header {

		flex-direction: row;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-image: url("./header.jpg");
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 80vh;

		.about {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.profile {
			width: 360px;
			height: 360px;
			border-radius: 50%;
			margin: 40px 0;
			box-shadow: 0 0 10px gray;
		}

		.contacts {

			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 240px;
			padding: 0 20px;
			border-radius: 20px;
			box-shadow: 0 0 20px black;
			background: white;

			.contact {
				display: block;
			}

			.contact:hover {
				transform: scale(1.5);
			}
		}

		.profile:hover {
			transform: scale(1.25) rotate(-7.5deg);
		}

		.contact {
			span {
				font-size: 1em;
			}
		}

	}

}

@media (min-width: 1280px) {

	body {
		max-width: 1000px;
	}

}
