.container {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 100vh;
  height: calc(100vh - var(--nav-height));
  z-index: 1;
}

.overlay {
  z-index: 2;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.title {
  font-weight: bold;
  font-size: 4em;
  margin-top: 28px;
}

.description {
  font-size: 0.75em;
  font-weight: lighter;
}
