.container {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 100vh;
  height: calc(100vh - var(--nav-height));
  z-index: 1;
}

.description {
  z-index: 2;
  position: absolute;
  bottom: 4px;
  left: 30vw;
  width: 40vw;
  margin: auto;
  text-align: center;
  font-size: 0.75em;
  font-weight: lighter;
}
