.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--fg);
  border: solid 1px var(--accent-7);
  border-radius: 8px;
  width: 180px;
  height: 138px;
  overflow: hidden;
  filter: grayscale(1);
  transition: filter 125ms ease-in-out;
  background: var(--accent-8);
}

.card:hover {
  filter: grayscale(0);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 100%;
  gap: 2px;
  border-top: solid 1px var(--accent-7);
}

.image,
.placeholder {
  width: 100%;
  aspect-ratio: 1.91;
  object-fit: cover;
  overflow: hidden;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-7);
}

.placeholderIcon {
  width: 32px;
  height: 32px;
  color: var(--accent-6);
}

.title {
  font-size: 0.85rem;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.domain {
  font-size: 0.7rem;
  font-family: var(--font-mono);
  color: var(--accent-5);
  font-weight: 400;
}

.spinner {
  width: 24px;
  height: 24px;
  color: var(--accent-6);
  animation: spin 2s linear forwards infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
