.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-xl);
  height: calc(100vh - var(--nav-height) - 32px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding);
  font-size: 1.125em;
  width: 90vw;
  position: absolute;
  left: 5vw;
  top: var(--nav-height);
}

.globe {
  display: none;
}
.profile {
  user-select: none;
}

.headShot {
  user-select: none;
  width: 100%;
  max-width: 480px;
  object-fit: contain;
}
.text {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
}
.head {
  font-weight: lighter;
}
.name {
  color: var(--secondary);
  font-weight: 900;
}
.subheader {
  color: var(--accent-8);
}
.down {
  display: none;
  animation: upAndDown 4s ease-in-out infinite;
}

@keyframes upAndDown {
  from,
  to {
    transform: scale(0.75) translate3d(0, -25%, 0);
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.25);
  }
}

@media (min-width: 940px) {
  .container {
    align-items: flex-start;
  }
  .header {
    font-size: 2em;
    flex-direction: row;
    flex-grow: 1;
    padding-top: var(--padding-xl);
  }
  .globe {
    display: block;
  }
  .text {
    gap: var(--padding-s);
  }
  .down {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: var(--padding-l);
    left: calc(50vw - 16px);
  }
}
