.shell {

}

.main {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.container {
	flex-grow: 1;
	width: 100%;
	max-width: 1080px;
	padding: var(--padding);
}
.sidebar {
	display: none !important;
}

@media (min-width: 800px) {
	.sidebar {
		display: flex !important;
	}
}