/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
body {
  font-family: "Roboto", sans-serif;
  padding: 40px;
}

span, p, img {
  display: block;
}

.reference,
.business,
.college,
.project {
  margin-top: 20px;
}

header {
  display: flex;
  flex-direction: column;
}
header .contacts {
  display: flex;
  flex-wrap: wrap;
}
header .contact {
  display: flex;
  text-decoration: none;
  color: dodgerblue;
  align-items: center;
  margin: 20px 10px 20px 0;
}
header .contact ion-icon {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}
header .profile {
  width: 100%;
  transition: transform 250ms ease-in-out;
}
header .profile:hover {
  transform: scale(2) rotate(10deg) translateY(40px);
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  text-transform: uppercase;
  background: dodgerblue;
  color: white;
  padding: 4px 8px;
  font-size: 1em;
  margin-top: 40px;
  border-radius: 4px;
}

.experiences {
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  align-items: flex-start;
}

.business a {
  display: flex;
  color: dodgerblue;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.business a .link {
  display: block;
  width: 20px;
  height: 20px;
}
.business .header {
  display: flex;
  align-items: flex-start;
}
.business .header .info {
  display: flex;
  flex-direction: column;
}
.business .header .info .name, .business .header .info .subname, .business .header .info .location {
  margin-top: 4px;
}
.business .header .info .name {
  font-weight: bold;
  font-size: 1.5em;
}
.business .header .info .subname {
  font-weight: lighter;
  font-size: 1.125em;
}
.business .header .info .location {
  font-style: italic;
  font-size: 1.125em;
}
.business .position {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}
.business .position .title, .business .position .date, .business .position .description {
  margin-top: 4px;
}
.business .position .title {
  font-size: 1.125em;
  font-weight: bold;
}
.business .position .date {
  color: gray;
}

.educations {
  display: flex;
  flex-direction: column;
}

.college {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.college .logo {
  max-width: 60px;
  display: block;
  object-fit: contain;
  margin-right: 20px;
}
.college .info .name {
  font-weight: bold;
  font-size: 1.25em;
}
.college .info .degree {
  margin-top: 10px;
}
.college .info .degree .title {
  font-size: 1.125em;
}
.college .info .degree .date {
  color: gray;
}

.right .skills ul {
  margin-top: 10px;
  margin-left: 40px;
}
.right .skills li {
  margin-top: 4px;
}
.right .projects .project .header {
  display: flex;
}
.right .projects .project .header a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: dodgerblue;
  margin-right: 8px;
}
.right .projects .project .header a .link {
  width: 20px;
  height: 20px;
}
.right .projects .project .header .name {
  font-weight: bold;
}
.right .projects .project .description {
  margin-top: 8px;
  margin-left: 30px;
}
.right .references .reference {
  display: flex;
  align-items: flex-start;
}
.right .references .reference .link {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: dodgerblue;
}
.right .references .reference .name {
  font-weight: bold;
}
.right .references .reference .title {
  font-style: italic;
}

@media (min-width: 800px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App {
    max-width: 1080px;
  }

  .left {
    width: 65%;
  }

  .right {
    width: 35%;
  }

  .experienceLabel {
    margin-top: 0;
  }

  .references,
.business,
.college,
.projects {
    margin-top: 40px;
  }

  a {
    transition: transform 250ms ease-in-out;
  }

  a:hover {
    transform: scale(1.25);
  }

  header {
    flex-direction: row;
  }
  header .about {
    flex-grow: 1;
  }
  header .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  header .contacts {
    display: flex;
    flex-direction: row;
  }
  header .contacts .contact {
    margin-right: 40px;
  }
}
@media (min-width: 1280px) {
  body {
    max-width: 1000px;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .left {
    margin-right: 80px;
  }
}

/*# sourceMappingURL=index.css.map */
