/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

$blue1: #061036;
$blue2: #102264;
$blue3: #224194;
$blue4: #3D6BBC;
$blue5: #77ABE2;
$yellow: #fff3b0;
$orange: #e09f3e;
$purple: #A23F7D;

$gradient: linear-gradient($blue3, $blue2, $blue1);