/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.root {
	width: 90vw;
	max-width: 720px;
	margin: auto;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 32px 0;
	box-shadow: 0 0 16px #ddd;
	border-radius: 16px;
	padding: 16px;
	transition: transform 250ms ease-in-out;
	user-select: none;
}

.container:hover {
	cursor: pointer;
	transform: scale(1.025);
}

.img {
	min-width: 64px !important;
	width: 64px !important;
	display: block !important;
	border-radius: 50%;
	border: solid 1px #fff;
}

.right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 16px;
}

.item {

	display: flex;
	flex-direction: column;
	margin: 12px 0;

	.name {
		font-size: 20px;
		margin-bottom: 4px;
	}

	.name, .title {
		font-weight: bolder;
	}

	.title {
		margin-bottom: -48px;
		.circle, .line {
			display: block;
			background: #f0f0f0;
			position: relative;
		}
		.circle {
			width: 16px;
			height: 16px;
			left: -60px;
			border-radius: 50%;
			top: -16px;
		}
		.line {
			width: 2px;
			height: 32px;
			top: -16px;
			left: -53px;
		}
	}

	.subtitle {
		color: #888;
		margin: 4px 0;
	}
}

@media (prefers-color-scheme: dark) {
	.container {
		box-shadow: 0 0 16px #333;
	}
}