/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "var";

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	padding: 8px;
	flex-grow: 1;
	align-items: center;
	background: $blue1;
}

.mtn {
	position: fixed;
	width: 110vw;
	height: 110vh;
	top: -5vh;
	left: -5vw;
	object-fit: cover;
}

.header {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	padding: 8px;
	width: 100%;
	align-items: center;
	z-index: 1;
}

.profile {
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	background: linear-gradient($yellow, $orange);
	align-self: center;
	border-radius: 50%;
	box-shadow: 0 0 16px $blue2;
}

.text {
	display: flex;
	background: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 480px;
	border-radius: 8px;
	color: black;
	padding: 16px;
}

.title {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.desc {
	margin-top: 8px;
	text-align: center;
}

.updates {

	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin-top: 32px;

	h2 {
		align-self: flex-start;
		margin: 16px;
	}

	.more {
		display: block;
		align-self: flex-start;
		margin: 16px;
	}
}

.hand {
	display: inline-block;
	transform: rotate(-45deg);
}

@keyframes wave {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@media (min-width: 720px) {
	.hand {
		animation: wave 2s infinite linear;
	}
	.header {
		flex-direction: row;
		justify-content: center;
		margin: 48px 0;
	}
	.profile {
		margin-right: 0;
		width: 260px;
		height: 260px;
		z-index: 2;
	}
	.text {
		align-items: flex-start;
		box-shadow: 0 0 16px $blue2;
		margin-left: -32px;
		padding: 16px 16px 16px 64px;
	}
	.title, .desc {
		text-align: left;
	}
	.desc {
		line-height: 1.5;
		margin-top: 16px;
	}
	.updates {
		a:not(.more) {
			width: 100%;
		}
	}
	.more {
		display: block;
		padding: 6px 12px;
		background: white;
		align-self: flex-end;
		margin: 16px;
		color: dodgerblue;
		//align-self: center;
		border: solid 2px dodgerblue;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		border-radius: 4px;
		transition: all 250ms ease-in-out;
	}
	.more:hover {
		background: $gradient;
		color: white;
		transform: scale(1.025);
	}
}

@media (min-width: 1280px) {
	.text {
		padding: 32px;
		margin-left: 32px;
	}
	.title {
		font-size: 2.5em;
	}
	.desc {
		font-size: 1.125em;
	}
}

@media (prefers-color-scheme: dark) {
	.main {
		background: black;
		color: white;
	}
	.profile {
		box-shadow: 0 0 10px #333;
	}
	@media (min-width: 720px) {
		.text {
			box-shadow: 0 0 10px #333;
		}
		.more {
			background: black;
		}
		.more:hover {
			color: white;
			background: $gradient;
		}
	}


}