* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {
  --sp: 16px;
  --sp4: calc(var(--sp) / 8);
  --sp3: calc(var(--sp) / 4);
  --sp2: calc(var(--sp) / 2);
  --sp1: calc(var(--sp) / 1.5);
  --sp-1: var(--sp);
  --sp-2: calc(var(--sp) * 1.25);
  --sp-3: calc(var(--sp) * 1.5);
  --sp-4: calc(var(--sp) * 2);
  --sp-5: calc(var(--sp) * 4);
  --sp-6: calc(var(--sp) * 8);
  --nav-height: 72px;
  --bg: #fff;
  --fg: #000;
  --accent-0: #000;
  --accent-1: #111;
  --accent-2: #222;
  --accent-3: #333;
  --accent-4: #555;
  --accent-5: #777;
  --accent-6: #999;
  --accent-7: #bbb;
  --accent-8: #ddd;
  --accent-9: #fff;
  --font-size: 16px;
  --page-height: var(100vh - var(--nav-height));
  --break: 800px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #000;
    --accent-0: #fff;
    --accent-1: #eee;
    --accent-2: #ddd;
    --accent-3: #ccc;
    --accent-4: #bbb;
    --accent-5: #aaa;
    --accent-6: #777;
    --accent-7: #333;
    --accent-8: #111;
    --accent-9: #000;
  }
}

body {
  font-size: var(--font-size);
  font-family: var(--font);
  font-weight: 500;
  background: var(--bg);
  color: var(--fg);
}

hr {
  border: none;
  outline: solid 0.5px var(--accent-8);
  border-radius: 1px;
}

.container {
  max-width: 840px;
  margin: auto;
  padding: 32px;
}
