/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "var";

.container {

	font-size: 1.125em;
	padding: 32px 0;
	line-height: 1.5;
	letter-spacing: 0.5px;
	display: flex;
	flex-direction: column;

	h1, h2, h3 {
		font-family: "Roboto Mono", monospace;
		position: relative;
		color: $blue5;
	}

	h1 {
		text-transform: uppercase;
		margin: 32px 0 16px;
	}

	h2 {
		margin: 24px 0 12px;
	}

	h3 {
		margin: 16px 0 8px;
	}

	p {
		text-align: justify;
	}

	p, img, h4, h5, ul, li, table, pre {
		margin: 16px 0;
	}

	img {
		width: 100%;
		display: block;
		max-height: 480px;
		object-fit: contain;
		margin: 16px 0;
	}

	*::before, *::after {
		color: $blue5;
	}

	h1::before {
		content: "# ";
	}

	h2::before {
		content: "## ";
	}

	h3::before {
		content: "### ";
	}

	strong::before, strong::after {
		content: "**";
	}

	em::before, em::after {
		content: "*";
	}

	li {
		margin: 8px 8px 0px 32px;
	}

	code {
		font-family: "Roboto Mono", monospace;
		background: $blue2;
		text-wrap: none;
		color: white;
		padding: 2px 4px;
		border-radius: 4px;
	}

	pre {
		background: none;
		display: block;
		box-shadow: 0 0 8px $blue2;
		padding: 16px;
		border-radius: 8px;
	}

	pre div {
		background: none !important;
	}

	pre div code {
		background: none;
		color: $blue5;
	}

	//
	//.icon-link {
	//	display: flex;
	//	align-items: center;
	//	margin: 16px 0;
	//	font-size: 1em;
	//	color: ${COLOR_blue5};
	//	transition: 250ms ease-in-out;
	//	text-decoration: none;
	//}
	//.icon-link:hover {
	//	color: ${COLOR_orange};
	//	transform: scale(1.05);
	//	cursor: pointer;
	//	border: none;
	//}

	a::before {
		content: "🔗 [ ";
	}

	a::after {
		content: " ]";
	}

	a {
		color: $blue5;
		display: inline-block;
	}

	a:hover {
		color: $orange;
		transform: scale(1.025);
		cursor: pointer;
		border: none;
	}
}