.h1, .h2, .h3 {
	margin: var(--padding) 0 var(--padding-half);
}

.h1::before,
.h2::before,
.h3:before {
	color: var(--blue);
}

.h1 {
	font-size: calc(var(--font-size) * 1.5);
}

.h2 {
	font-size: calc(var(--font-size) * 1.25);
}

.h3 {
	font-size: calc(var(--font-size) * 1.125);
}

.h1::before {
content: "# ";
}

.h2::before {
content: "## ";
}

.h3::before {
content: "### ";
}

.text {
	margin: var(--padding-half) 0;
	font-size: var(--font-size);
}

.text strong {
	color: var(--red);
}

.text em {
	color: var(--yellow);
}

.img {

}

.ul {

}

.ol {
	
}

.li, .ol {
	margin: var(--padding-half) 0 var(--padding-half) var(--padding);
}

.a {
	color: var(--blue);
	text-decoration: none;
}

.a::before, .a::after {
	color: var(--green);
}

.a::before {
	content: "[";
}

.a::after {
	content: "]";
}

.a:hover {
	text-decoration: underline;
}

.pre, .code {
	font-size: var(--font-size);
	font-family: "Roboto Mono", monospace;
}

.code::before, .code::after {
	content: "`";
	color: var(--blue);
}

.code {
	background-color: var(--dark);
	padding: 2px 4px;
	border-radius: 4px;
}

.pre {
	padding: var(--padding);
	border-radius: var(--padding-half);
	max-width: 720px;
	margin: auto;
	box-shadow: 0 0 var(--padding) var(--dark);
	border: solid 1px var(--dark);
}

.pre .code {
	padding: 0;
	border-radius: 0;
	background-color: var(--background);
}

.pre .code::before, .pre .code::after {
	content: none;
}

.blockquote {
	color: var(--gray);
}

.blockquote p {
	display: inline;
}

.blockquote::before {
	content: "//";
}