/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "var";

.container {

	display: flex;
	justify-content: flex-start;
	align-items: center;
	//box-shadow: 0 0 10px #ddd;
	//border-bottom: solid #eee 1px;
	padding: 8px;
	width: 100%;
	position: sticky;
	top: 0;
	//background: white;
	z-index: 8;

	.profile {
		width: 36px;
		height: 36px;
		object-fit: cover;
		border-radius: 50%;

		&:hover {
			cursor: pointer;
		}
	}

	.links {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow-x: auto;
		margin: 0 4px;
		flex-grow: 1;


		a {
			text-decoration: none;
			//margin-left: 6px;
			color: black;
			font-weight: 500;
			transition: color 250ms ease-in-out;
			border-bottom: none;
			margin: 4px 3px;

			&:hover {
				color: white;
			}
		}

	}

	.logos {
		display: flex;
		justify-content: flex-start;
		align-items: center;


		.twitter, .linkedin, .github, .mail {
			margin-right: 6px;
			transition: color 250ms ease-in-out;
			cursor: pointer;
			color: black;
			border-bottom: none;

			&:hover {
				color: white;
			}
		}

		//.mail:hover {
		//	color: #BB001B;
		//}
		//
		//.twitter:hover {
		//	color: #1DA1F2;
		//}
		//
		//.linkedin:hover {
		//	color: #0072b1;
		//}
		//.github:hover {
		//	color: #6e5494;
		//}
	}

	* {
		display: block;
	}

}

@media (min-width: 720px) {
	.container {
		.links {
			.profile {
				width: 64px;
				height: 64px;
			}
			a {
				margin-left: 16px;
				font-size: 1.25em;
			}
		}
		.logos {
			* {
				margin-right: 8px;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.container {
		background: black;
		color: white;
		box-shadow: 0 0 10px #222;
		border-bottom: solid #111 1px;

		.links {

			a {

				&:hover {
					//color: $blue3;
				}
			}

		}
	}


}