/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "var";

.container {
	padding: 100px;
	background: $blue1;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}