/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.items {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: 0 0 8px #eee, 0 8px 16px #ddd;
	padding: 16px;
	margin: 16px;
	max-width: 720px;
	text-decoration: none;
	color: black;
	border-bottom: none;
	border-radius: 8px;
	position: relative;
}

.item:hover {
	border-bottom: none;
}

.top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	* {
		display: block;
	}
}

.date {
	font-weight: lighter;
}

.title {
	font-weight: bold;
	font-size: 1.5em;
}

.read {
	position: absolute;
	color: dodgerblue;
	bottom: 8px;
	right: 8px;
	display: none;
}

.date {
	margin: 8px 0;
}

.description {
	line-height: 1.5;
}

@media (min-width: 720px) {
	.items {
		align-items: center;
	}
	.item {
		width: 40%;
		min-width: 600px;
		padding: 32px;
		margin-top: 32px;
		transition: transform 250ms ease-in-out;
	}
	.item:hover {
		cursor: pointer;
		transform: scale(1.05);
		border-bottom: none;
	}
	.top {
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}
	.date {

	}
	.description {
		margin-top: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	.item {
		background: black;
		color: white;
		box-shadow: 0 0 8px #111, 0 8px 16px #222;
	}
}