.positions,
.page {
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
}

.positions {
  list-style: none;
  width: 90vw;
  max-width: 960px;
}

.position {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  width: 100%;
}

.position span {
  display: block;
}

.business,
.date {
  font-size: 1.125rem;
}

.date {
  font-weight: lighter;
}

.mid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--padding-s);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
  list-style: "-";
}

.task {
  margin-left: var(--padding-m);
  padding-left: var(--padding-m);
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-weight: normal;
}

.linkContainer {
  padding: var(--padding-m);
  width: 100%;
  overflow-x: auto;
}

.links {
  display: flex;
  gap: var(--padding-m);
}
